<section class="application">
  <div class="application_bg"></div>
  <div class="application_plane one"></div>
  <div class="application_plane two"></div>
  <div class="application_plane three"></div>
  <div class="application_wrapper">
    <div class="title_box">
      <span class="title_decor">Не можете определиться с направлением</span>
      <h2 class="title">Мы поможем с выбором</h2>
    </div>
    <div class="application_box">
      <div class="application_caption">Оставьте заявку</div>
      <div class="application_description">Наши специалисты помогут подобрать вам наиболее выгодный тур.</div>
      <form class="application_form">
        <input class="application_input" name="name" type="text" placeholder="Введите имя" autocomplete="off" required>
        <input class="application_input" name="phone" type="text" placeholder="Введите телефон" autocomplete="off" required>
        <input class="application_input" name="e-mail" type="text" placeholder="Введите e-mail" autocomplete="off">
        <button class="btn-or" type="submit">Оставить заявку</button>
        <!--<label class="subscription_confirm mgt-30">
          <input class="subscription_confirm_checked" type="checkbox" name="confirm">
          <span class="subscription_confirm_checked-custom"></span>
          <span class="subscription_confirm_label">Я согласен с политикой конфиденциальности и даю согласие на обработку персональных данных.</span>
        </label>-->
        <label class="checkbox">
          <input type="checkbox" name="confirm" required>
          <div class="checkbox_text">Я согласен с политикой конфиденциальности и даю согласие на обработку персональных данных</div>
        </label>
      </form>
    </div>
  </div>
</section>