<section class="contacts @@context.class">
  <div class="container">
    <div class="contacts_wrapper">
      <div class="contacts_info">
        <div class="title_box">
          <span class="title_decor">Вы можете найти нас</span>
          <h2 class="title">Контакты</h2>
        </div>
        <div class="contacts_info_box">
          <a class="contacts_item phone" href="tel:+74991305509">+7 (495) 512-31-23</a>
          <a class="contacts_item mail" href="mailto:info@montenegro-tours.ru">info@montenegro-tours.ru</a>
          <div class="contacts_item address">108811, г.Москва, поселение Московский, 22-ой км. Киевского шоссе, домовладение 4</div>
          <a class="btn-or w-200 call_me" href="#callMe">Заказать звонок</a>
        </div>
      </div>
      <div id="map" class="contacts_map"></div>
    </div>
  </div>
</section>