<section class="info">
  <div class="info_bg">Черногория</div>
  <div class="info_bg_two"></div>
  <div class="info_left">
    <div class="indent"></div>
    <div class="info_container">
      <div class="title_box">
        <span class="title_decor">Открой для себя</span>
        <h2 class="title">Отдых в Черногории</h2>
      </div>
      <div class="info_box">
        <div class="info_description">Сегодня отдых в Черногории особенно популярен.
          Страна отличается уникальной природой, солнечной погодой, доступными ценами. </div>
        <div class="info_description">Безусловно, тут есть что посмотреть – реки, каньоны, озера, парки, а любителям архитектуры – старинные монастыри, церкви, мосты. </div>
        <div class="info_description">В Черногорию легко влюбиться. Это завораживающая страна с необыкновенной атмосферой</div>
      </div>
    </div>
  </div>
  <div class="info_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-1.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-2.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-1.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-2.jpg" alt="">
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>