<section class="info mgt-60">
  <div class="info_left">
    <div class="indent"></div>
    <div class="info_container">
      <div class="title_box">
        <span class="title_decor">Отдыхайте вместе с</span>
        <h2 class="title">Montenegro tours</h2>
      </div>
      <div class="info_box extra">
        <div class="info_description extra">MONTENEGRO TRAVEL – туристическая компания, которая предлагает лучший отдых в Черногории: курорты, отели, апартаменты,
          экскурсии, трансфер.</div>
        <div class="info_description extra">Наша компания уделяет большое внимание качеству услуг, ведь организация каждого путешествия - это индивидуальный
          подход к вашим желаниям.</div>
        <div class="info_description bold extra">Мы успешно работаем на рынке с 2010 года</div>
      </div>
    </div>
  </div>
  <div class="info_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-4.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-3.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-4.jpg" alt="">
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>