<section class="info tour">
  <div class="info_left">
    <div class="indent"></div>
    <div class="info_container">
      <div class="title_box">
        <span class="title_decor">Проведите отпуск в</span>
        <h2 class="title">Apart Hotel Sea Fort</h2>
      </div>
      <div class="info_box extra">
        <div class="info_description extra">
          <p>Отель расположен в курортном городе Сутоморе, который известен своими красивыми песчано-галичными пляжами протяженностью более 2 км.  </p>
          <p>До пляжа можно дойти всего за пару минут. Сутоморе располагается между городами Петровац и Бар. Маленький город Сутоморе означает в переводе «только море».</p>
          <p>Здесь вы найдете величественные скалы, сосновые и кипарисовые леса, золотистый песок. Город отличается особым воздухом, пропитанным ароматом хвои и морского бриза.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-8.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-9.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-8.jpg" alt="">
        </div>

        <div class="swiper-slide">
          <img class="info_img" src="./img/slide-9.jpg" alt="">
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>