<section class="directions mgt-60">
  <div class="container">
    <div class="title_box">
      <span class="title_decor">Наше предложение</span>
      <h2 class="title">Направления туров</h2>
    </div>
    <div class="directions_wrapper all">
      @@for (var i = 0; i < context.arr.length; i++) {
      <div class="directions_box item">
        <img class="directions_img" src="`+context.arr[i].image+`">
        <div class="directions_mask"></div>
        `+context.arr[i].content+`
        <a class="directions_link" href="`+context.arr[i].link+`"></a>
      </div>
      }
    </div>
  </div>
</section>