@import "partials/params";
@import "partials/mixins";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

main{
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div{
  font-weight: normal;
  line-height: 1.5em;
  color: $text-color-main;
  margin: 0;
}

a {
  text-decoration: none;
}

.title{
  font-family: 'Gilroy-Black';
  color: $text-color-main;
  font-size: $caption-size-l;
  line-height: 1.2em;
  text-transform: uppercase;
  z-index: 10;
  @media screen and ($desktop1) {
    font-size: $caption-size-m;
  }
  @media screen and ($tablet2) {
    font-size: $caption-size-s;
  }
  @media screen and ($mobile5) {
    font-size: $caption-size-xs;
  }
  @media screen and ($mobile3) {
    font-size: $text-size-xxxl;
  }

  &.main{
    font-size: $caption-size-xl;
    @media screen and ($tablet2) {
      font-size: $caption-size-l;
    }
    @media screen and ($tablet1) {
      font-size: $caption-size-s;
    }
    @media screen and ($mobile5) {
      font-size: $text-size-xxxl;
    }
    @media screen and ($mobile3) {
      font-size: $text-size-xxxl;
      text-shadow: 1px 1px #fff;
    }
  }

  &_decor{
    font-family: 'Museo-Sans-Cyrl-300';
    color: $text-imp-color;
    font-size: $text-size-l;
    text-transform: uppercase;
    z-index: 10;
    @media screen and ($desktop1) {
      font-size: $text-size-s;
    }
    @media screen and ($tablet2) {
      font-size: $text-size-xs;
    }
  }

  &.modal{
    font-size: $caption-size-xs;
    text-align: center;
    @media screen and ($mobile3) {
      font-size: $text-size-xxl;
    }
  }

  &_box{
    z-index: 11;
  }

  &.title-page{
    font-size: $caption-size-xl;
    color: $text-color-white;
    z-index: 50;
    @media screen and ($desktop1) {
      font-size: $caption-size-l;
    }
    @media screen and ($tablet2) {
      font-size: $caption-size-m;
    }
    @media screen and ($mobile5) {
      font-size: $caption-size-s;
    }
    @media screen and ($mobile3) {
      font-size: $caption-size-xs;
    }
    @media screen and (max-width: 400px) {
      font-size: $text-size-xxxl;
    }
  }
}

.btn-tr{
  font-family: 'Gilroy-Medium';
  font-size: $text-size-xs;
  color: $text-color-main;
  border: 1px solid $border-color-main;
  border-radius: 30px;
  padding: 10px 20px;

  &:hover {
    cursor: pointer;
    color: $text-color-white;
    background-color: $btn-color-main-hover;
    border: 1px solid $btn-color-main-hover;
    transition: all 0.3s;
  }
}

.btn-or{
  font-family: 'Gilroy-Bold';
  font-size: $text-size-l;
  color: $text-color-white;
  background-color: $btn-color-main;
  border: none;
  border-radius: 40px;
  padding: 17px 50px;
  text-align: center;
  box-shadow: 0 20px 10px -10px $shadow-btn-main;
  z-index: 20;
  @media screen and ($tablet2) {
    font-size: $text-size-m;
    border-radius: 40px;
    padding: 15px 40px;
    box-shadow: 0 12px 6px -6px $shadow-btn-main;
  }
  @media screen and ($tablet1) {
    font-size: $text-size-s;
    padding: 15px 40px;
  }
  @media screen and ($mobile5) {
    font-size: $text-size-s;
    padding: 15px 40px;
  }
  @media screen and ($mobile3) {
    font-size: $text-size-s;
    padding: 15px 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: $btn-color-main-hover;
    transition: all 0.3s;
  }
}

.btn-bl{
  font-family: 'Gilroy-Bold';
  font-size: $text-size-m;
  color: $text-color-white;
  background-color: $btn-color-main-two;
  border: none;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 20px 10px -10px $shadow-btn-main-two;
  padding: 12px 30px;
  z-index: 10;
  @media screen and ($desktop1) {
    font-size: $text-size-s;
  }
  @media screen and ($tablet2) {
    font-size: $text-size-s;
    box-shadow: 0 12px 6px -6px $shadow-btn-main-two;
  }

  &:hover {
    cursor: pointer;
    background-color: $btn-color-main-two-hover;
    transition: all 0.3s;
  }

  &.more{
    width: 158px;
    height: 47px;
  }
}

.request{
  font-size: $text-size-s;
  padding: 12px 0px;
  @media screen and ($tablet2) {
    font-size: $text-size-s;
    padding: 12px 0px;
  }
  @media screen and ($tablet1) {
    font-size: $text-size-s;
    padding: 12px 0px;
  }
  @media screen and ($mobile5) {
    font-size: $text-size-s;
    padding: 10px 0px;
  }
  @media screen and ($mobile3) {
    font-size: $text-size-s;
    padding: 10px 0px;
  }
  @media screen and (max-width: 400px) {
    font-size: $text-size-xs;
    padding: 8px 0px;
  }
}

.ov-hid{
  overflow-y: hidden;
}

.no_page{
  font-family: 'Museo-Sans-Cyrl-300';
  font-size: $text-size-s;
  width: 50%;
  margin: 100px 0 120px;
  @media screen and ($tablet2) {
    width: 75%;
  }
  @media screen and ($mobile5) {
    width: 100%;
  }
}

.transform-none{
  transform: scale(1) !important;
}

.no-shadow{
  box-shadow: none !important;
}

.w-100{
  width: 100% !important;
}

.mg-0{
  margin: 0 !important;
}

.w-200{
  width: 260px;
}

.txt-white{
  color: $text-color-white;
}

.mgt-30{
  margin-top: 30px;
}

.mgt-60{
  margin-top: 60px !important;
}

.mgt-120{
  margin-top: 120px !important;
}

.mgt-150{
  margin-top: 150px !important;
}

.mgb-150{
  margin-bottom: 150px !important;
}

.mglr-auto{
  margin-left: auto;
  margin-right: auto;
}

.checkbox{
  margin-top: 20px;
  @media screen and (max-width: 360px) {
    margin-top: 15px;
  }

  & input {
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: -1;
    opacity: 1;

    &:checked + .checkbox_text:before {
      background: #fff;
      border: 1px solid $btn-color-main;
    }

    &:checked + .checkbox_text:after {
      display: block;
    }
  }

  &_text{
    position: relative;
    font-family: 'Museo-Sans-Cyrl-300';
    display: flex;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 30px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      border-radius: 1px;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 1px solid #717c8a;
      transition: all 0.2s;
    }

    &:after {
      display: none;
      font-family: 'FontAwesome';
      content: '\f00c';
      color: $text-imp-color;
      font-size: 16px;
      position: absolute;
      top: -4px;
      left: 1px;
      transition: .2s;
    }
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 88888888;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  &#resultModal{
    z-index: 99999999;
  }
}

.modalDialog.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 450px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 60px 40px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  @media screen and ($mobile3) {
    width: calc(100% - 16px);
  }
  @media screen and (max-width: 400px) {
    padding: 60px 25px 40px;
  }
  @media screen and (max-width: 360px) {
    padding: 50px 15px 30px;
  }
}

.close {
  display: flex;
  align-items: center;
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("../img/cross-menu.png") no-repeat 0px;
  background-position: center;
  background-size: cover;
  width: 23px;
  height: 23px;
  opacity: 0.5;
  cursor: pointer;
}


.page_title{
  &_box{
    padding-top: 150px;
    position: absolute;
    top: 0;
    width: 100%;
    @media screen and ($tablet2) {
      padding-top: 120px;
    }
    @media screen and ($mobile3) {
      padding-top: 120px;
    }
  }

  &_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    @media screen and ($tablet2) {
      padding: 50px 0;
    }
  }
}

.page_way {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;

  &_link{
    display: flex;
    font-family: 'Museo-Sans-Cyrl-300';
    font-size: $text-size-s;
    color: $text-color-white;

    &:hover {
      color: $text-imp-color-hover;
      transition: all 0.2s;
    }

    &:last-child {
      opacity: 0.5;

      &:hover{
        color: $text-color-white;
      }
    }
  }

  span {
    font-family: 'Museo-Sans-Cyrl-300';
    position: relative;
    top: -1px;
    font-size: 24px;
    color: $text-imp-color;
    padding: 0 5px;
  }
}

.page_nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-top: 40px;

  &_number,
  &_prev,
  &_next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Medium';
    font-size: $text-size-l;
    color: #abc1cb;
    width: 50px;
    height: 50px;
    border: 1px solid #abc1cb;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    @media screen and ($tablet2) {
      font-size: $text-size-m;
      width: 40px;
      height: 40px;
      padding: 8px;
      margin-right: 7px;
    }
    @media screen and ($mobile5) {
      font-size: $text-size-s;
      width: 35px;
      height: 35px;
      padding: 5px;
      margin-right: 5px;
    }
    @media screen and ($mobile3) {
      font-size: $text-size-xs;
      width: 30px;
      height: 30px;
    }

    &:hover{
      background-color: $btn-color-main-two-hover;
      color: $text-color-white;
      transition: all 0.3s;
    }
  }

  &_number{
    &.active{
      background-color: $btn-color-main-two;
      color: $text-color-white;
    }
  }
}

.booking{
  margin-bottom: 100px;

  &_description{
    font-family: 'Museo-Sans-Cyrl-300';
    font-size: $text-size-s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    margin-top: 50px;
    @media screen and ($tablet1) {
      grid-template-columns: auto;
    }
    @media screen and ($mobile5) {
      font-size: $text-size-xs;
      margin-top: 40px;
    }

    & p{
      @media screen and ($tablet1) {
        margin-bottom: 20px;
      }

      &:last-child{
        @media screen and ($tablet1) {
          margin-bottom: 0;
        }
      }
    }
  }
}

input[type="submit"]{
  cursor: pointer;
}

button[type="submit"]{
  cursor: pointer;
}

button[type="button"]{
  cursor: pointer;
}

button[type="button"]:focus{
  outline: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  position: relative;
  z-index: 10;
  @media screen and (min-width: 576px) {
    max-width: 556px;
  }

  @media screen and (min-width: 768px) {
    max-width: 748px;
  }

  @media screen and (min-width: 992px) {
    max-width: 972px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1180px;
  }

  @media screen and (min-width: 1620px) {
    max-width: 1600px;
  }
}

.col-1{
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.col-2{
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.col-3{
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}

.col-4{
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.col-5{
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
}

.col-6{
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
}

.col-7{
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
}

.col-8{
  grid-template-rows: auto;
  grid-template-columns: repeat(8, 1fr);
}

.col-9{
  grid-template-rows: auto;
  grid-template-columns: repeat(9, 1fr);
}

.col-10{
  grid-template-rows: auto;
  grid-template-columns: repeat(10, 1fr);
}

.col-11{
  grid-template-rows: auto;
  grid-template-columns: repeat(11, 1fr);
}

.col-12{
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}



.col-10{
  grid-template-rows: auto;
  grid-template-columns: 10% 90%;
}

.col-15{
  grid-template-rows: auto;
  grid-template-columns: 15% 85%;
}

.col-20{
  grid-template-rows: auto;
  grid-template-columns: 20% 80%;
}

.col-25{
  grid-template-rows: auto;
  grid-template-columns: 25% 75%;
}

.col-30{
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
}

.col-35{
  grid-template-rows: auto;
  grid-template-columns: 35% 65%;
}

.col-40{
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
}

.col-45{
  grid-template-rows: auto;
  grid-template-columns: 45% 55%;
}

.col-55{
  grid-template-rows: auto;
  grid-template-columns: 55% 45%;
}

.col-60{
  grid-template-rows: auto;
  grid-template-columns: 60% 40%;
}

.col-65{
  grid-template-rows: auto;
  grid-template-columns: 65% 35%;
}

.col-70{
  grid-template-rows: auto;
  grid-template-columns: 70% 30%;
}

.col-75{
  grid-template-rows: auto;
  grid-template-columns: 75% 25%;
}

.col-80{
  grid-template-rows: auto;
  grid-template-columns: 80% 20%;
}

.col-85{
  grid-template-rows: auto;
  grid-template-columns: 85% 15%;
}

.col-90{
  grid-template-rows: auto;
  grid-template-columns: 90% 10%;
}